/*small screen*/
@media only screen and (max-width: 600px) {
    .AppChild{
        display: flex !important;
        flex-direction: column !important;
    }

    #MainDiv{
        height: 50vh !important;
        display: flex;
        flex-direction: row;
    }

    .TabDiv{
        height: 50vh !important;
        width: 90% !important;
        margin-left: 10% !important;
    }

    .tab-title{
        font-size: 10px !important;
        font-weight: bold !important;
    }

    .MiniDrawerDiv{
        width: 10% !important;
    }

    .MenuSvg, .MultiViewSvg,._3dViewSvg, .TabSvg, .ShowSvg, .HideSvg, .TransparencySvg, .View2DSvg, .ViewResetSvg, .HelpSvg, .PrintSvg {
        width: 25px !important;
        height: 25px !important;
    }

    .MenuBtn, .MultiViewBtn, ._3dViewBtn, .TabBtn, .ShowBtn, .HideBtn, .TransparencyBtn, .View2DBtn, .ViewResetBtn, .HelpBtn, .PrintBtn{
        min-width: unset !important;
    }

    .CompanyLogo{
        width: 100px !important;
    }

    #tab-content-1{
        overflow-y: auto !important;
        height: 95% !important;
    }


    .dpl-th-vertical{
        background-color: #00152C !important;
        color: white !important;
        font-size: 10px !important;
        /*text-align: left !important;*/
        width: 100px;
        /*border: solid 5px #BAD0DB !important;*/
        border: solid 7px #bad0db !important;
        border-bottom: none !important;
        text-transform: none !important;
        width: 35% !important;
        padding: 0 5px !important;
    }

    .dpl-td-vertical{
        /*text-align: left !important;*/
        width: 65% !important;
        /*border: solid 5px #BAD0DB !important;*/
        border: solid 7px #bad0db !important;
        border-bottom: none !important;
        font-size: 10px !important;
        font-weight: 400;
        color: black !important;
        background-color: white !important;
        padding: 0 5px !important;
    }

    #showTransparent{
        height: 35px !important;
    }

    #showTransparent > div{
        /*height: 35px !important;*/
    }

    .ContextMenuItem{
        color: #034D79 !important;
        font-family: 'Open Sans', Arial !important;
        font-size: 12px !important;
        min-height: unset !important;
    }

    .dpl-table > thead > tr > td > pre {
        font-size: 12px !important;
        color: #ffffff;
        font-weight: bold;
        font-family: 'Open Sans', Arial;
        padding: 6px 4px;
    }

    .dpl-table > tbody > tr > td > pre {
        font-size: 12px !important;
        color: black;
    }

    .td-accordian > div{
        background-color: white !important;
        border-style: none;
        padding-left: 5px !important;
        font-size: 12px !important;
    }

    .MediaBarSvg{
        width: 1em !important;
    }

    #AccordianTaskDetailsContent > table{
        table-layout:fixed !important;
        width:96% !important;
    }

    #AccordianTaskSupplyContent > table{
        table-layout:fixed !important;
        width:100% !important;
    }

    #AccordianTaskSupplyContent > table > colgroup > col:nth-child(2), #AccordianTaskSupplyContent > table > colgroup > col:nth-child(3), #AccordianTaskSupplyContent > table > thead > tr > td:nth-child(2), #AccordianTaskSupplyContent > table > thead > tr > td:nth-child(3){
        width: 30% !important;
    }

    #AccordianTaskSupplyContent > table > colgroup > col:nth-child(1), #AccordianTaskSupplyContent > table > colgroup > col:nth-child(1){
        width: 25% !important;
    }

    #AccordianTaskSupplyContent > table > colgroup > col:nth-child(4), #AccordianTaskSupplyContent > table > colgroup > col:nth-child(4){
        width: 15% !important;
    }

    pre, td{
        font-size: 10px !important;
        padding: 0 3px !important;
    }

    .tab-content{
        padding: 7px !important;
        border-left: 2.5px white solid;
        /*height: 88%;*/
        overflow-y: auto;
        /*height: auto !important;*/
    }


    div, div > a{
        font-size: 10px !important;
    }
    
    .TransparencyBtn,
    ._3dViewBtn,
    .MultiViewBtn {
        height: 48px;
    }
}

/*medium screen*/
@media only screen and (min-width: 600px) and (max-width: 800px) {
    .AppChild{
        display: flex !important;
        flex-direction: column !important;
    }

    #MainDiv{
        height: 50vh !important;
        display: flex;
        flex-direction: row;
    }

    .tab-title{
        font-size: 12px !important;
        font-weight: bold !important;
    }

    .TabDiv{
        height: 50vh !important;
        width: 90% !important;
        margin-left: 10% !important;
    }

    .MiniDrawerDiv{
        width: 10% !important;
    }

    .MenuSvg, .MultiViewSvg,._3dViewSvg, .TabSvg, .ShowSvg, .HideSvg, .TransparencySvg, .View2DSvg, .ViewResetSvg, .HelpSvg, .PrintSvg {
        width: 35px !important;
        height: 35px !important;
    }

    .MenuBtn, .MultiViewBtn, ._3dViewBtn, .TabBtn, .ShowBtn, .HideBtn, .TransparencyBtn, .View2DBtn, .ViewResetBtn, .HelpBtn, .PrintBtn{
        min-width: unset !important;
    }

    .CompanyLogo{
        width: 150px !important;
    }

    #tab-content-1{
        overflow-y: auto !important;
        height: 95% !important;
    }


    .dpl-th-vertical{
        background-color: #00152C !important;
        color: white !important;
        font-size: 12px !important;
        /*text-align: left !important;*/
        /*width: 100px;*/
        /*border: solid 5px #BAD0DB !important;*/
        border: solid 7px #bad0db !important;
        border-bottom: none !important;
        text-transform: none !important;
        width: 35% !important;
        padding: 0 5px !important;
    }

    .dpl-td-vertical{
        /*text-align: left !important;*/
        width: 65% !important;
        /*border: solid 5px #BAD0DB !important;*/
        border: solid 7px #bad0db !important;
        border-bottom: none !important;
        font-size: 12px !important;
        font-weight: 400;
        color: black !important;
        background-color: white !important;
        padding: 0 5px !important;
    }

    #showTransparent{
        height: 40px !important;
    }

    #showTransparent > div{
        /*height: 35px !important;*/
    }

    .ContextMenuItem{
        color: #034D79 !important;
        font-family: 'Open Sans', Arial !important;
        font-size: 12px !important;
        min-height: unset !important;
    }

    .dpl-table > thead > tr > td > pre {
        font-size: 12px !important;
        color: #ffffff;
        font-weight: bold;
        font-family: 'Open Sans', Arial;
        padding: 6px 4px;
    }

    .dpl-table > tbody > tr > td > pre {
        font-size: 12px !important;
        color: black;
    }

    .td-accordian > div{
        background-color: white !important;
        border-style: none;
        padding-left: 5px !important;
        font-size: 12px !important;
    }

    .MediaBarSvg{
        width: 1em !important;
    }

    #AccordianTaskDetailsContent > table{
        table-layout:fixed !important;
        width:96% !important;
    }

    #AccordianTaskSupplyContent > table{
        table-layout:fixed !important;
        width:100% !important;
    }

    #AccordianTaskSupplyContent > table > colgroup > col:nth-child(2), #AccordianTaskSupplyContent > table > colgroup > col:nth-child(3), #AccordianTaskSupplyContent > table > thead > tr > td:nth-child(2), #AccordianTaskSupplyContent > table > thead > tr > td:nth-child(3){
        width: 30% !important;
    }

    #AccordianTaskSupplyContent > table > colgroup > col:nth-child(1), #AccordianTaskSupplyContent > table > colgroup > col:nth-child(1){
        width: 25% !important;
    }

    #AccordianTaskSupplyContent > table > colgroup > col:nth-child(4), #AccordianTaskSupplyContent > table > colgroup > col:nth-child(4){
        width: 15% !important;
    }

    pre, td{
        font-size: 12px !important;
        padding: 0 3px !important;
    }

    .tab-content{
        padding: 7px !important;
        border-left: 2.5px white solid;
        /*height: 88%;*/
        overflow-y: auto;
        /*height: auto !important;*/
    }


    div, div > a{
        font-size: 12px !important;
    }
    .TransparencyBtn,
    ._3dViewBtn,
    .MultiViewBtn {
        height: 57px;
    }
}


/*big screen*/
@media only screen and (min-width: 800px) {
    .dpl-th-vertical{
        background-color: #00152C !important;
        color: white !important;
        font-size: 14px !important;
        /*text-align: left !important;*/
        width: 100px;
        /*border: solid 5px #BAD0DB !important;*/
        border: solid 7px #bad0db !important;
        border-bottom: none !important;
        text-transform: none !important;
        width: 25% !important;
    }

    .dpl-td-vertical{
        /*text-align: left !important;*/
        /*border: solid 5px #BAD0DB !important;*/
        border: solid 7px #bad0db !important;
        border-bottom: none !important;
        font-size: 14px !important;
        font-weight: 400;
        color: black !important;
        background-color: white !important;
    }

    .td-accordian > div{
        background-color: white !important;
        border-style: none;
        padding-left: 5px !important;
        font-size: 12px !important;
    }

    #showTransparent > div{
        height: 73px !important;
    }

    #MainDiv{
        display: flex;
        flex-direction: row;
    }

    .tab-content{
        padding: 20px !important;
        border-left: 2.5px white solid;
        /*height: 88%;*/
        overflow-y: auto;
        /*height: auto !important;*/
    }

    .treePart > tbody > tr > td:nth-child(1), .treePart > tbody > tr > td:nth-child(2){
        /*text-align: left !important;*/
        /*padding-left: 10px !important;*/
    }

    div.MuiAccordionSummary-content > p{
        font-weight: bold !important;
        font-size: 14px !important;
    }

    .CompanyLogo {
        width: 180px !important;
    }

    .TransparencyBtn,
    ._3dViewBtn,
    .MultiViewBtn {
        height: 72px;
    }
}

.segment {
    /*display: flex;*/
    flex-direction: row;
    justify-content: flex-start;
}

.segment_Img {
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.segment_Text_5 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.AppBar {
    max-height: 85px;
}

.jss33{
    text-align: left;
}

img{
    vertical-align: middle;
}

.box_image{
    width: 100%;
    max-height: 780px;
    position: absolute;
    margin: auto;
    object-fit: contain;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loadingtitle{
    color: #034D79;
    background-color: white;
    font-weight: bolder;
    font-size: 36px !important;
    text-align: center;
}


.loading_progress{
    color: #034D79;
}

.drawer_header{
    background: #00152C;
    color: white;
}

.bom_view, .supply_view, .equip_view{
    background-color: #F1F6FB;
    border: none;
}


#MainDiv{
    /*z-index: 1000 !important;*/
}

#header, #tabBox , #procedure{
    display: none;
}

#full-width-tab-0, #full-width-tab-1, #full-width-tab-2{
    /*flex-basis: 33.33%;*/
    height: 0;
    /*border-top: solid 5px white !important;*/
}

.MuiTabs-flexContainer{
    display: flex;
    flex-wrap: wrap;
    background-color: #99BCCE !important;
}

/*tbody > tr > td {*/
/*    font-weight: normal;*/
/*    color: black;*/
/*}*/

#tabBOMContent, #tabDocumentContent, #tabSuppliersContent, #tabInstructionsContent, #tabEquimentContent{
    display: block !important;
}

 .divPartRow:hover{
    background-color: #99bcce !important;
    color: black !important;
}

/*#TabSST > div > div > table > tbody > tr.click{*/
/*    background-color: #c18556 !important;*/
/*}*/

.selected-row{
    background-color: #c18556 !important;
    color: #00152C !important;
}

.MuiTab-root{
    min-height: 52px;
}



.hide-header{
    background-color: transparent !important;
    border: none !important;
}

.revision-row-title{
    width: 25% !important;
    border-bottom: solid 5px #bad0db !important;;
}

.revision-data{
    width: 50% !important;
    border-bottom: solid 5px #bad0db !important;;
}

.revision-header-hide{
    background-color: transparent !important;
    color: transparent !important;
}

.revision-header{
    border-bottom: solid 5px #bad0db !important;;
}

.revision-header-hide, .revision-header-hide.hover, .revision-header-hide:hover{
    background-color: transparent !important;
    color: transparent !important;
    border: none !important;
}


#TabIncludes > table > tbody > tr:hover > td, #TabIncludes > table > tbody > tr:hover > th{
    background-color: #c18556 !important;
    color: black !important;
}

#TabIncludes > #IncludesTable1> tbody > tr > .revision-header-hide, #TabIncludes > #IncludesTable1> tbody > tr >.revision-header-hide.hover, #TabIncludes > #IncludesTable1> tbody > tr >.revision-header-hide:hover{
    background-color: transparent !important;
    color: transparent !important;
    border: none !important;
}


.labelCurrent{
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 5px 5px !important;
    /*text-align: left !important;*/
}

.labelIncluded{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 5px !important;
    /*text-align: left !important;*/
}
.panel-acc{
    margin: 2% !important;
    width: 96%;
    background-color: #00152C !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 0 !important;
}
.panel-spacing{
    margin-top: 35px !important;
}

.MuiAccordionDetails-root{
    background-color: white !important;
    color: black !important;
    padding: 8px 0 16px !important;
}



.makeStyles-tab-22{
    padding-right: 5px !important;
}

.filterLabel{
    cursor: pointer;
    padding-right: 8px;
    padding-left: 8px;
    background-color: inherit !important;
    border: none !important;
    font-family: "Open Sans", Oswald !important;
}

/*#buttonAll:hover > label, button.select > label{*/
/*    color: #00152C !important;*/
/*    font-weight: bold !important;*/
/*}*/

.selected-button{
    color: black !important;
    font-weight: bold !important;
}

.filterTitle{
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px 10px 0 !important;
    /*text-align: left !important;*/
}

.hide-filter{
    display: none !important;
}

.expand-arrow-icon{
    color: white !important;
}

.substeps > .tiramisu-proc-item, .substeps.selected > .tiramisu-proc-item, .substeps> .tiramisu-proc-item:hover, .substeps> .tiramisu-proc-item.hover{
    background-color: white !important;
    /*border: 5px solid #F0F5FA !important;*/
    border: 5px solid #99BCCE !important;
    color: #00152C !important;
}

.steps > .tiramisu-proc-item > .tiramisu-proc-item-content > div{
    padding: 5px 10px;
    color: #00152C !important;
}

/*.steps > .tiramisu-proc-item > .tiramisu-proc-item-content > div:nth-child(n+2){*/
/*    padding: 5px 0px !important;*/
/*    color: #00152C !important;*/
/*}*/

#AccordianTaskContent > .divStep > .tiramisu-proc-item-content > div{
    padding: 5px 10px !important;
}
/*#AccordianTaskContent > .divStep > .tiramisu-proc-item-content > div:nth-child(n+2){*/
/*    padding: 5px 0px !important;*/
/*}*/


.divStep:hover > div{
    background-color: #99BCCE !important;
}

.divStep:hover > div:nth-child(1){
    color: black !important;
}

.substeps > .tiramisu-proc-item > .tiramisu-proc-item-content > div > a{
    color: #00152C !important;
    font-weight: bold;
}

@media screen {
    .steps > .tiramisu-proc-item > .tiramisu-proc-item-number, #AccordianTaskContent > .tiramisu-proc-item > .tiramisu-proc-item-number{
        /*background-color: #9d9d9c !important;*/
        background-color: #00152C;
        color: white;
        vertical-align: middle !important;
        text-align: center !important;
        padding: 2px 10px !important;
    }
    #AccordianTaskContent{
        /*background-color: #F0F5FA !important;*/
        background-color: #bad0db !important;
        width: 96% !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    #AccordianTaskContent > .divStep > .tiramisu-proc-item-content{
        border-left: 4px solid #bad0db !important;
    }
    div > #AccordianTaskContent > .tiramisu-proc-item:last-child{
        padding-bottom: 5px !important;
    }
}

.tiramisu-proc-item{
    background-color: inherit !important;
}



#currentTaskPartsContent, #currentTaskSupplyContent, #currentTaskEquipmentContent, #AccordianTaskPartsContent, #AccordianTaskSupplyContent, #AccordianTaskEquipmentContent{
    width: 96% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
}

#AccordianTaskDetailsContent{
    width: 100% !important;
}

.MuiAccordionSummary-content{
    margin: 5px !important;
}

.MuiIconButton-root{
    padding: 0 12px !important;
}

.MuiAccordionSummary-root{
    min-height: 20px !important;
}

.makeStyles-heading-41{
    font-size: 16px !important;
    font-weight: bold !important;
}

.tiramisu-proc-item-content{
    background-color: white;
    border-left: 8px solid #bad0db;
}

.steps > .torque-row > .torque-step-number{
    background-color: #b61615 !important;
}

#tabDocumentContent > .steps > .stepSelected > div{
    background-color: #c18556;
    color: #00152C !important;
}

.stepSelected > .tiramisu-proc-item-number, .stepSelected > .tiramisu-proc-item-content{
    font-weight: normal !important;
}


/*blinking feature*/
 .warning-flash{
    animation: blinkWarning 0.5s linear 3 !important;
    /*background-color: red !important;*/
    animation-fill-mode: none !important;
}

.caution-flash{
    animation: blinkCaution 0.5s linear 3 !important;
    /*background-color: yellow !important;*/
    animation-fill-mode: initial !important;
}

 .note-flash{
    animation: blinkNote 1s linear 3 !important;
    /*background-color: blue !important;*/
    animation-fill-mode: inherit !important;
}

/*@keyframes blinker {*/
/*    50% {*/
/*        opacity: 0;*/
/*    }*/
/*}*/

@keyframes blinkWarning {
    0% {
        background-color: red;
        color: #ddd;
    }
    100% {
        background-color: #c18556;
        color: #fff;
    }
}

@keyframes blinkCaution {
    0% {
        background-color: yellow;
        color: #ddd;
    }
    100% {
        background-color: #c18556;
        color: #fff;
    }
}

@keyframes blinkNote {
    0% {
        background-color: RGB(0, 21, 44);
        color: #ddd;
    }
    100% {
        background-color: #c18556;
        color: #fff;
    }
}

.drawer_header > button > span > svg {
    height: 1.5em !important;
    width: 1.5em !important;
    align-items: center !important;
    margin: 8px 0px 8px 8px;
}
table > tbody > tr:nth-child(6) > .repair-time{
    font-weight: bold !important;
}

.tiramisu-proc-item, .tiramisu-proc-title{
    margin-bottom: 0px !important;
    padding: 5px !important;
}

div > #AccordianTaskContent > .tiramisu-proc-item{
    padding-bottom: 0px !important;
}

@media screen {
    .tiramisu-proc-item-number{
        min-width: 40px !important;
        margin: auto !important;
    }
    .steps > .stepSection {
        padding: 5px 15px;
        font-weight: 800;
    }
    .steps > .stepSection > p {
        text-align: left;
    }
    #AccordianTaskContent > .stepSection {
        padding: 10px 15px 5px 15px;
        font-weight: 800;
    }
    #AccordianTaskContent > .stepSection > p {
        text-align: left;
    }
}

@media print {
    #AccordianTaskContent > .stepSection {
        padding: 0.3cm 0.2cm;
        font-weight: 800;
    }
    #AccordianTaskContent > .stepSection > p {
        text-align: left;
        font-size: 5mm;
    }
}

/*.included-procedure > p:nth-child(2){*/
/*    font-weight: 800;*/
/*}*/

.included-procedure > a {
    color: #00152C !important;
    font-weight: 800;
}

.disabled-button{
    pointer-events: none;
    opacity: 0.5;
}

/*logo*/
.logo-right{
    right: 20px !important;
}

.logo-left{
    left: 20px !important;
    right: unset !important;
}

#transparentSlider > span:nth-child(1), #transparentSlider > span:nth-child(2){
    height: 8px !important;
    border-radius: 4px !important;
}

#transparentSlider > span:nth-child(4){
    width: 15px !important;
    height: 15px !important;
    margin-top: -4px !important;
}


#MiniDrawerDiv{
    overflow-y: auto;
}

/*Text display direction*/
.rtl {
    direction: rtl;
    text-align: right !important;
    unicode-bidi: bidi-override;
}

.ltr {
    direction: ltr;
    text-align: left !important;
    unicode-bidi: bidi-override;
}

.rtl-center, .rtl-center > span {
    direction: rtl;
    text-align: center !important;
    unicode-bidi: bidi-override;
}

.ltr-center, .ltr-center > span {
    direction: ltr;
    text-align: center !important;
    unicode-bidi: bidi-override;
}

#tiramisu-panel-group{
    display: block !important;
}

.tiramisu-panel > div {
    transform: unset;
}

